@import './tailwind.css';

@layer base {
  body {
    @apply container mx-auto bg-background px-2 md:px-4 text-white 2xl:px-0;
  }
}

@layer components {
  .btn {
    @apply inline-flex h-10 items-center justify-center whitespace-nowrap rounded-3xl px-4 py-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
  }
  .btn-default {
    @apply bg-primary text-background;
  }
  .btn-secondary {
    @apply border border-white bg-background text-white;
  }
  .into-center {
    @apply flex items-center justify-center;
  }
}

@font-face {
  font-family: 'ClashDisplay';
  src:
    url('/fonts/ClashDisplay/ClashDisplay-Regular.woff') format('woff'),
    url('/fonts/ClashDisplay/ClashDisplay-Bold.woff') format('woff'),
    url('/fonts/ClashDisplay/ClashDisplay-Extralight.woff') format('woff'),
    url('/fonts/ClashDisplay/ClashDisplay-Light.woff') format('woff'),
    url('/fonts/ClashDisplay/ClashDisplay-Medium.woff') format('woff'),
    url('/fonts/ClashDisplay/ClashDisplay-Semibold.woff') format('woff'),
    url('/fonts/ClashDisplay/ClashDisplay-Variable.woff') format('woff');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'aeonik';
  src:
    url('/fonts/aeonik/AeonikTRIAL-Regular.otf') format('opentype'),
    url('/fonts/aeonik/AeonikTRIAL-Bold.otf') format('opentype'),
    url('/fonts/aeonik/AeonikTRIAL-BoldItalic.otf') format('opentype'),
    url('/fonts/aeonik/AeonikTRIAL-Light.otf') format('opentype'),
    url('/fonts/aeonik/AeonikTRIAL-LightItalic.otf') format('opentype'),
    url('/fonts/aeonik/AeonikTRIAL-RegularItalic.otf') format('opentype');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
